html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.godaddy_container {
  font-family: 'Lato', sans-serif;
  cursor: default;
}

.godaddy_header {
  /* margin-top: 20px;
  padding: 15px; */
  background-color: white;
  /* margin-bottom: 50px; */
  height: 73px;
  font-family: 'Work Sans', sans-serif;
}

.godaddy_header_logo {
  padding-left: 50px;
}

.godaddy_header_contact_us {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding-right: 50px;
}

.godaddy_header_contact_us .text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chevron-down-custom-icon {
  padding-left: 10px;
  font-weight: 200;
}

.godaddy_header_navbar {
  font-size: 16px;
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  padding-right: 180px;
}

.godaddy_header_navbar_item {
  padding-right: 20px;
  padding-top: 10px;
}

.godaddy_header_navbar_item:hover {
  text-decoration: underline;
}

.terms_content {
  padding-top: 100px;
  margin: 0 auto;
  width: 920px;
  border: 1px solid #9f9c9c;
  border-radius: 5px;
  padding-right: 150px;
  padding-left: 150px;
  margin-bottom: 100px;
}

.terms-sum-header {
  margin: 50px auto;
  padding-right: 180px;
  padding-left: 180px;
  line-height: 24px;
}

.terms-sum-header-h {
  font-size: 36px;
  color: rgb(0, 164, 166);
  font-weight: bold;
  padding-bottom: 20px;
}

.terms-sum-header-description {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

.godaddy_content-call-us-back {
  font-weight: 300;
  font-size: 23px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #00a4a6;
  color: white;
}

.godaddy_footer {
  padding: 30px 50px 30px 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}

.privacy-policy {
  color: rgb(9, 117, 122);
  text-decoration: underline;
}
